<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="facebook.js"></script>
</head>
<body>
	
</body>

  <fb:login-button data-auto-logout-link="true"
    scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button>

  <div id="status">
  </div>

<%#= link_to('Share Access token with Rails', facebook_path, id: "fb-toke") %>
</html>
