<div class="container">
<h1>Latest Posts</h1>
<%= render 'post', obj: @post %>

	


<% if current_user.admin?%>
<%= link_to "Email", users_path(session[:user_id]) %>
<% end%>


<%= link_to 'Profile', user_path(session[:user_id])%>
</div>

