<h1>Showing selected article</h1>

<% if logged_in? && current_user == (@post.user || current_user.admin?)%>

<p>
	Title: <%= @post.title %>
</p>

<p>
	Description <%= @post.description %>
</p>

<% end%>

<%= link_to "Index", posts_path %>